@model IEnumerable<GigHub.Models.Gig>
@if (Model != null && Model.Count()>0)
{
    <h3 class="page-header">My upcoming gigs</h3>
    <table class="table table-bordered">
        <thead>

            <tr>


                <th scope="col">Venue</th>
                <th scope="col">Genre</th>
                <th scope="col">Date Time</th>
                <th scope="col">Actions</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var gig in Model)
            {
                <tr>
                    <td>
                        @gig.Venue
                    </td>
                    <td>
                        @gig.Genre.Name
                    </td>
                    <td>
                        @gig.DateTime
                    </td>
                    <td>
                        <button onclick="window.location.href='@Url.Action("Edit", "Gigs",new {Id=gig.Id })'" class="btn btn-primary" type="button"><i class="fas fa-pen mr-1"></i> Edit</button>
                        <button data-gig-id="@gig.Id" type="button" class="btn btn-danger js-cancel-gig"><i class="fas fa-times mr-1"></i> Cancel</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger" role="alert">
        Sorry! NO Upcoming gigs exist.
    </div>
}
@section scripts
 {
    <script>
        $(document).ready(function () {
            $(".js-cancel-gig").click(function (e) {

                var link = $(e.target);
                bootbox.dialog({
                    message: "Are you sure you want to cancel this gig?",
                    title:"Confirm",
                    buttons: {
                        no: {
                            label: 'No',
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: 'Yes',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/gigs/" + link.attr("data-gig-id"),
                                    method: "DELETE"
                                })
                                .done(function () {
                                        link.parents("tr").fadeOut(function () {
                                            $(this).remove();
                                        });
                                 })
                                .fail(function () {
                                        alert("Something failed");
                                 });
                            }
                        }
                    }

                });
            });
        });
            
    </script>

}



