@model GigHub.ViewModels.GigsListingViewModel
@if (Model != null && Model.UpComingGigs != null && Model.UpComingGigs.Count() > 0)
{
    <h3 class="page-header">Upcoming Gigs</h3>
    using(Html.BeginForm("Search","Gigs"))
    {
        <div class="form-group">
            <div id="searchGigs" class="input-group">
                @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
           
        </div>
       
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Artist Name</th>
                <th scope="col">Genre</th>
                <th scope="col">Venue</th>
                <th scope="col">Date Time</th>
                @if (Model.ShowActions)
                {
                    <th scope="col">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var gig in Model.UpComingGigs)
            {
            <tr>

                <td>
                    <a href="@Url.Action("Details","Gigs", new {id=gig.Id })">
                        @gig.Artist.Name
                    </a>
                </td>
                <td>
                    @gig.Genre.Name
                </td>
                <td>
                    @gig.Venue
                </td>
                <td>
                    @gig.DateTime
                </td>
                @if (Model.ShowActions)
                {
                    <td>
                        <button data-gig-id="@gig.Id" 
                                class="btn
                                @(Model.Attendences.Contains(gig.Id)? "btn-info" : "btn-default") 
                                js-toggle-attendence">Going ?</button>
                        <button data-user-id="@gig.ArtistId" class="btn btn-link js-toggle-following">Following ?</button>
                    </td>
                }

            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger" role="alert">
        Sorry! NO Gigs exist.
    </div>
}
@section scripts
{
    
  <script>
      $(document).ready(function () {
          $(".js-toggle-attendence").click(function (e) {
              var button = $(e.target);
              $.post("/api/attendences", {gigId:button.attr("data-gig-id")})
                  .done(function () {
                      button.removeClass("btn-primary")
                          .addClass("btn-info").text("Going");

                  })
                  .fail(function () {
                      alert("You are already going.");
                  });
          });
           $(".js-toggle-following").click(function (e) {
              var button = $(e.target);
              $.post("/api/followings", {followeeId:button.attr("data-user-id")})
                  .done(function () {
                      button.removeClass("btn-link")
                          .addClass("btn-info").text("Following");

                  })
                  .fail(function () {
                      alert("You are already Following.");
                  });
          });

      });
    </script>  
    
 }